/* ================================
	Image Selector Control CSS.
===================================*/
.elementor-label-block .elementor-control-image-selector-wrapper {
    width: 100%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
}

.columns-1.elementor-label-block .elementor-control-image-selector-wrapper {
    grid-template-columns: 1fr;
    margin-right: 1px;
}
.columns-2.elementor-label-block .elementor-control-image-selector-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 1px;
}

.elementor-label-block .elementor-control-image-selector-wrapper .image-selector-inner {
    background: #FFFFFF;
}

.elementor-control-image-selector-wrapper input[type=radio] {
    display: none;
}

.elementor-control-image-selector-wrapper .elementor-image-selector-label {
    display: flex;
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
    background: #fff;
    will-change: transform;
    transition: 0.3s;
    overflow: hidden;
    max-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.elementor-control-image-selector-wrapper .elementor-image-selector-label img {
    display: inline-block;
    vertical-align: middle;
}

.elementor-control-image-selector-wrapper .elementor-image-selector-label:hover,
.elementor-control-image-selector-wrapper input:checked + .elementor-image-selector-label {
    border: 2px solid #df0a5f;
}

.elementor-control-image-selector-wrapper .elementor-image-selector-label.is-pro {
    pointer-events: none;
    cursor: not-allowed;
}

.elementor-control.ant-pro-field::before, .elementor-control-image-selector-wrapper .elementor-image-selector-label.is-pro::before {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 99;
    transition: all 0.3s;
}

.elementor-control.ant-pro-field::before {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 0;
    background: rgba(255, 255, 255, 0.2);
}

.elementor-control.elementor-control-filter_promo::before {
    content: "";
}

.elementor-control.ant-pro-field {
    overflow: hidden;
}

.elementor-control.ant-pro-field.is-pro::before {
    background: rgba(255, 255, 255, 0.8);
}

.elementor-control.ant-pro-field > .elementor-control-content {
    pointer-events: none;
}

.elementor-control.ant-pro-field > .elementor-control-content > .elementor-control-field > .elementor-control-title {
    padding-left: 12px;
}

.elementor-control .elementor-repeater-fields .ant-pro-field > .elementor-control-content::after {
    top: 5px;
    left: -45px;
}

.elementor-control-image-selector-wrapper .elementor-image-selector-label.is-pro::after {
    content: "PRO";
    font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
    position: absolute;
    color: #fff;
    z-index: 100;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background: #93003c;
    font-weight: 500;
    font-size: 9px;
    padding: 0 5px;
    border-radius: 3px;
    right: 0;
    top: 0;
}

.ant-pro-field.is-pro::after, .ant-pro.is-pro {
    animation: ant-shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

//Select2 Style
.advanced-news-ticker-select2-main-wrapper ul.select2-selection__rendered li:last-child {
    pointer-events: none;
}

.advanced-news-ticker-select2-main-wrapper ul.select2-selection__rendered li:last-child::before {
    background: var(--e-a-btn-bg);
    content: '+';
    padding: 1px 5px;
    position: relative;
    top: 1px;
    margin-right: 5px;
    color: #fff;
}

.advanced-news-ticker-select2-main-wrapper ul.select2-selection__rendered li[title=search] {
    display: none;
}

@keyframes ant-shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
