//Select2 Style
.ant-select2-main-wrapper ul.select2-selection__rendered li:last-child {
    pointer-events: none;
}

.ant-select2-main-wrapper ul.select2-selection__rendered li:last-child::before {
    background: var(--e-a-btn-bg);
    content: '+';
    padding: 1px 5px;
    position: relative;
    top: 1px;
    margin-right: 5px;
    color: #fff;
}

.ant-select2-main-wrapper ul.select2-selection__rendered li[title=search] {
    display: none;
}