$newsTickerColor: var(--tpg-primary-color, #024FF3);
//@import "swiper.scss";
.rt-news-ticker-inner {
    position: relative;
    align-items: center;
    height: 50px;
    display: flex;
    gap: 15px;
    border-radius: 6px;
    overflow: hidden;
    background: #EDF6F9;

    .control-visible-yes & {
        padding-right: 120px;
    }

    @media (max-width: 579px) {
        padding-left: 8px;
        overflow: visible;
        margin-top: 34px;
        border-top-left-radius: 0;
        .control-visible-yes & {
            padding-right: 86px;
        }

        .swiper-button-prev,
        .swiper-pause {
            display: none !important;
        }
    }

    .live-animation-yes & .ticker-live-icon {
        animation: tpgLive 1.4s infinite ease-in-out;
    }

    svg {
        width: 1em;
        height: 1em;
    }

    .e-font-icon-svg path {
        fill: currentColor;
    }

    .tpg-news-ticker {
        position: static;
        flex: 1;
        height: 100%;
    }

    .swiper-wrapper {
        padding-bottom: 0 !important;
    }

    .swiper-slide {
        font-size: 15px;

        div {
            height: 97%;
            opacity: 0;
            display: flex;
            align-items: center;
        }

        &.swiper-slide-active div {
            opacity: 1;
        }

    }

    .post-link {
        color: #212121;
        white-space: nowrap;
        margin-right: 10px;
        text-decoration: none;

        &:hover {
            color: $newsTickerColor
        }
    }

    .ticker-content svg {
        margin-right: 10px;
        font-size: 10px;
        color: $newsTickerColor
    }

    .ticker-title {
        white-space: nowrap;
        height: 100%;
        color: #FFFFFF;
        background: $newsTickerColor;
        padding: 3px 20px 3px 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;

        > * {
            display: inline-flex;
        }

        svg {
            font-size: 20px;
        }

        @media (max-width: 579px) {
            position: absolute;
            height: 36px;
            bottom: 99%;
            left: -1px;
            border-radius: 10px 10px 0 0;
            z-index: -1;
        }
    }

    .navigation {
        position: absolute;
        top: 0;
        right: 9px;
        gap: 3px;
        height: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        .news-ticker-nav {
            position: static;
            margin: 0;
            padding: 0;
            background: $newsTickerColor;
            color: #FFFFFF;
            width: 32px;
            height: 32px;
            transition: 0.4s;
            font-size: 13px;
            border-radius: 5px;
            cursor: pointer;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: $newsTickerColor;
                color: #FFF;
            }

            &:before, &:after {
                content: none !important;
            }
        }

        .swiper-pause {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            &.pause-enable {
                box-shadow: inset 0 0 0 1px red;
            }

            span {
                display: inline-flex;
                height: 44%;
                width: 2px;
                border-radius: 5px;
                background-color: currentColor;
            }
        }
    }

    .ticker-style-2 & {

        .ticker-title {
            svg, i {
                color: #FFFFFF;
            }
        }
    }

    .ticker-style-2 & {
        background-color: #00B0D3;

        .ticker-title {
            @media (max-width: 580px) {
                background-color: #00B0D3;
                border-bottom: 1px solid #bed8de;
            }
            @media (min-width: 580px) {
                background: none;
                padding-right: 0;
                position: relative;
                &:after {
                    content: "";
                    width: 2px;
                    height: 17px;
                    border-radius: 4px;
                    background: #FFFFFF;
                    margin-left: 10px;
                }
            }
        }

        .ticker-content svg,
        .post-link {
            color: #FFFFFF;
        }

        .navigation .news-ticker-nav {
            background: #FFF;
            color: #00B0D3;
        }
    }

    .ticker-style-3 & {
        border: 1px solid $newsTickerColor;

        .ticker-title {
            background: linear-gradient(111deg, $newsTickerColor 87%, transparent 87%);
            padding: 3px 30px 3px 10px;
        }
    }

    .ticker-style-4 & {
        border: 1px solid $newsTickerColor;
        border-radius: 0;
        overflow: visible;
        background: #FFF;

        @media (min-width: 580px) {
            margin-left: 46px;
        }

        .ticker-title {
            padding: 3px 30px 3px 20px;
            transform: skewX(-15deg);
            margin-left: -22px;
            margin-top: -0.5px;
            height: calc(100% + 2px);

            > * {
                transform: skewX(15deg);
            }

            @media (max-width: 580px) {
                margin-left: 6px;
            }
        }

        .navigation .news-ticker-nav {
            background: #F2F2F2;
            color: #111111;
        }
    }


    .ticker-style-5 & {
        &,
        .ticker-title {
            border-radius: 30px;
        }

        .navigation {
            .news-ticker-nav {
                border-radius: 50%;
            }
        }
    }

    .ticker-style-6 &,
    .ticker-style-7 & {
        background: #F2F2F2;
        border-radius: 30px;

        .ticker-title {
            border-radius: 30px 0 0 30px;
            height: calc(100% - 8px);
            margin-left: 4px;
            background: #FD0DA5;
        }

        .ticker-content svg {
            color: #FD0DA5;
        }

        .navigation {
            .news-ticker-nav {
                border-radius: 50%;
                background: #FFFFFF;

                &:not(:hover) svg {
                    color: #111
                }

                &:hover {
                    background: #FD0DA5;
                }
            }
        }
    }

    .ticker-style-7 & {
        background: #F2F2F2;
        border-radius: 30px;
        @media (max-width: 579px) {
            padding-left: 15px;
        }

        .ticker-title {
            padding: 3px 10px 3px 20px;
            margin-right: 15px;
            border-radius: 30px 0 0 30px;
            height: calc(100% - 8px);
            margin-left: 4px;
            background: #FD0DA5;
            z-index: 1;

            @media (min-width: 580px) {
                position: relative;
            }

            &:after {
                content: "";
                width: 29.4px;
                height: 29px;
                background: #fd0ea5;
                border-radius: 7px;
                transform: rotate(45deg) skew(10deg, 10deg);
                right: -14px;
                position: absolute;
                z-index: -1;
            }
        }

    }

    .ticker-style-8 & {
        overflow: visible;
        background: #E80404;
        margin-left: 10px;

        .ticker-title {
            transform: skewX(-10deg);
            border-radius: 7px;
            box-shadow: -6px 6px 0 #E80404;
            margin-top: -12px;
            background: #EFE009;
            color: #111111;
            font-size: 25px;
            font-weight: 900;
            letter-spacing: 2px;

            > * {
                transform: skewX(10deg);
            }
        }

        .ticker-content {
            &,
            > * {
                color: #FFFFFF;
            }
        }

        .navigation {
            .news-ticker-nav {
                background: #FFFFFF;

                &:not(:hover) svg {
                    color: #111

                }

                &:hover {
                    background: #111111;
                }
            }
        }
    }
}


.tpg-marquee-ticker {
    padding-right: 15px;
    display: flex;

    .news-scroll {
        display: flex;
        align-items: center;

        .post-link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        .ticker-content svg {
            margin-top: -2px;
        }
    }
}


.animation-type {
    .post-link {
        width: 0;
        display: inline-block;
        overflow: hidden;
        transition: var(--transitionDuration, 5000ms) linear;
    }

    .swiper-slide-active .post-link {
        width: 100% !important;
    }
}

@-webkit-keyframes tpgLive {
    0%, 80%, 100% {
        -webkit-transform: scale(0.8)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes tpgLive {
    0%, 80%, 100% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
