
.ticker-style-1 {
    .ant-news-ticker-inner {
        border-radius: 0;
        background: none;
        .ticker-title {
            padding: 3px 15px 3px 15px;
            font-weight: 500;
        }
    }
}

.ticker-style-2 {
    .ant-news-ticker-inner {
        //background: #EDF6F9;
    }
}

.ticker-style-3 {
    .ant-news-ticker-inner {
        background-color: #00B0D3;
    }

    .ticker-title {
        svg, i {
            color: #FFFFFF;
        }

        @media (max-width: 580px) {
            background-color: #00B0D3;
            border-bottom: 1px solid #bed8de;
        }
        @media (min-width: 580px) {
            background: none;
            padding-right: 0;
            position: relative;
            &:after {
                content: "";
                width: 2px;
                height: 17px;
                border-radius: 4px;
                background: #FFFFFF;
                margin-left: 10px;
            }
        }
    }

    .ticker-content svg,
    .post-link {
        color: #FFFFFF;
    }

    .navigation .news-ticker-nav {
        background: #FFF;
        color: #00B0D3;
    }
}

.ticker-style------------3 {
    .ant-news-ticker-inner {
        border: 1px solid $newsTickerColor;
    }

    .ticker-title {
        background: linear-gradient(111deg, $newsTickerColor 87%, transparent 87%);
        padding: 3px 30px 3px 10px;
    }
}

.ticker-style-4 {
    .ant-news-ticker-inner {
        border: 1px solid $newsTickerColor;
        border-radius: 0;
        overflow: visible;
        background: #FFF;

        @media (min-width: 580px) {
            margin-left: 46px;
        }

    }

    .ticker-title {
        padding: 3px 30px 3px 20px;
        transform: skewX(-15deg);
        margin-left: -22px;
        margin-top: -0.5px;
        height: calc(100% + 2px);

        > * {
            transform: skewX(15deg);
        }

        @media (max-width: 580px) {
            margin-left: 6px;
        }
    }

    .navigation .news-ticker-nav {
        background: #F2F2F2;
        color: #111111;
    }
}


.ticker-style-5 {
    .ant-news-ticker-inner,
    .ticker-title {
        border-radius: 30px;
    }

    .navigation {
        .news-ticker-nav {
            border-radius: 50%;
        }
    }
}

.ticker-style-6,
.ticker-style-7 {
    .ant-news-ticker-inner {
        background: #F2F2F2;
        border-radius: 30px;
    }

    .ticker-title {
        border-radius: 30px 0 0 30px;
        height: calc(100% - 8px);
        margin-left: 4px;
        background: #FD0DA5;
    }

    .ticker-content svg {
        color: #FD0DA5;
    }

    .navigation {
        .news-ticker-nav {
            border-radius: 50%;
            background: #FFFFFF;

            &:not(:hover) svg {
                color: #111
            }

            &:hover {
                background: #FD0DA5;
            }
        }
    }
}

.ticker-style-7 {
    .ant-news-ticker-inner {
        background: #F2F2F2;
        border-radius: 30px;
        @media (max-width: 579px) {
            padding-left: 15px;
        }
    }

    .ticker-title {
        padding: 3px 10px 3px 20px;
        margin-right: 15px;
        border-radius: 30px 0 0 30px;
        height: calc(100% - 8px);
        margin-left: 4px;
        background: #FD0DA5;
        z-index: 1;

        @media (min-width: 580px) {
            position: relative;
        }

        &:after {
            content: "";
            width: 29.4px;
            height: 29px;
            background: #fd0ea5;
            border-radius: 7px;
            transform: rotate(45deg) skew(10deg, 10deg);
            right: -14px;
            position: absolute;
            z-index: -1;
        }
    }

}

.ticker-style-8 {
    .ant-news-ticker-inner {
        overflow: visible;
        background: #E80404;
        margin-left: 10px;
    }

    .ticker-title {
        transform: skewX(-10deg);
        border-radius: 7px;
        box-shadow: -6px 6px 0 #E80404;
        margin-top: -12px;
        background: #EFE009;
        color: #111111;
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 2px;

        > * {
            transform: skewX(10deg);
        }
    }

    .ticker-content {
        &,
        > * {
            color: #FFFFFF;
        }
    }

    .navigation {
        .news-ticker-nav {
            background: #FFFFFF;

            &:not(:hover) svg {
                color: #111

            }

            &:hover {
                background: #111111;
            }
        }
    }
}