
.ticker-style-1 {
    .ant-news-ticker-inner {
        border-radius: 0;
        background: none;

        .ticker-title {
            padding: 3px 15px 3px 15px;
            font-weight: 500;
        }

        .navigation .news-ticker-nav {
            border-radius: 2px;
        }
    }
}

.ticker-style-2 {
    .ant-news-ticker-inner {
        height: 40px;

        .navigation .news-ticker-nav {
            background: #96a6ad;
            color: white;
        }
    }
}

$xPost: calc(100% - 10px);
.ticker-style-3 {
    .ant-news-ticker-inner {
        height: 36px;
        background: none;

        .ticker-title {
            padding-right: 30px;
            clip-path: polygon(0 0, $xPost 0, $xPost 30%, 100% 50%, $xPost 70%, $xPost 100%, 0 100%);
        }
    }

}

.ticker-style-4 {
    .ant-news-ticker-inner {
        height: 36px;
        border-radius: 30px;

        .navigation .news-ticker-nav {
            background: #adb7bb;
            color: #ffffff;
            border-radius: 50%;
            height: 28px;
        }
    }
}


.ticker-style-5 {
    .ant-news-ticker-inner {
        background: #edecea;
        height: 36px;

        &,
        .ticker-title {
            border-radius: 30px;
        }

        .navigation .news-ticker-nav {
            background: #bbb4ac;
            color: #ffffff;
            border-radius: 50%;
            height: 28px;
        }
    }


    .navigation {
        .news-ticker-nav {
            border-radius: 50%;
        }
    }
}

.ticker-style-6 {
    .ant-news-ticker-inner {
        height: 43px;
        border-radius: 30px;
        padding: 5px;
        background: #f1efed;

        .ticker-title {
            border-radius: 30px;
            padding-right: 30px;
            clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
        }

        .navigation .news-ticker-nav {
            height: 28px;
            border-radius: 50%;
            background: none !important;
            width: 20px;
            font-size: 14px;

            &:hover {
                color: $newsTickerColor
            }
        }
    }
}


.ticker-style-7 {
    .ant-news-ticker-inner {
        background: $newsTickerColor;
        color: #FFFFFF;
        border-radius: 6px;
        padding: 5px;

        .post-icon svg,
        .post-link {
            color: #FFFFFF;
        }

        .post-link:hover {
            opacity: 0.8;
            color: #FFFFFF;
        }

        .ticker-title {
            padding-right: 0;
            background: transparent;
        }

        .navigation .news-ticker-nav {
            color: #ffffff;
            background: rgb(0 0 0 / 34%);

            &:hover {
                background: #FFF;
                color: $newsTickerColor;
            }
        }

        .breaking-title {
            border-right: 1px solid rgba(255, 255, 255, .4);
            padding-right: 15px;
        }
    }


}

.ticker-style-8 {

    .ant-news-ticker-inner {
        background-color: #E80404;
        background-image: linear-gradient(126deg, #020000 0%, #f2295b 100%);
        transform: skewX(-16deg);
        border-radius: 10px;
        overflow: visible;
        margin-left: 10px;
        height: 40px;

        .post-icon svg,
        .post-link {
            color: #FFFFFF;
        }

         .ticker-title {
            margin-top: -11px;
            margin-left: 5px;
            border-radius: 6px;
        }

        .navigation .news-ticker-nav {
            background: #ffffffad;
            color: #ae0909;

            &:hover {
                background-color: #FFFFFF;
                color: $newsTickerColor
            }
        }

    }


}